.paridad-logo{ height: 120px; }

.paridad-section-black{ background-color: #252422 !important; padding: 15px 0 !important; }
.paridad-section-black-title{margin: 0!important; font-weight: normal !important; font-size: 1.4em !important;}
.paridad-section-black-subtitle{ margin: 0!important; font-size: 1.3em!important; color: #fff!important; font-weight: normal!important; line-height: 1!important; }

.sidebar-sticky {
    top: 10px;
    max-height: 80vh;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    bottom: auto;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.no-padding{
    padding: 0 !important;
}

.paridad-link{ color: #666666 !important; }
.paridad-link:hover{ color: #fff !important; background-color: #252422 !important;}

.sidebar{
    background-color: #f7f7f7 !important;
    padding-top: 70px;
    padding-bottom: 70px;
}
.gabinete-col-epadding{ padding-left: 30px !important; padding-right: 30px !important; padding-top: 40px !important;}

@media (max-width: 767px){
    .paridad-title{
        font-size: 2.2em;
    }
    .paridad-subtitle{
        font-size: 1.5em;
    }
}

@media (max-height: 600px) and (max-width: 460px) {
    /* CSS stuff */
    .paridad-logo{
        height: 90px;
    }
}

@media (min-width: 1024px){
    .sidebar{ padding-left: 60px; }
}

@media (min-width: 1200px){
    .sidebar{ padding-left: 100px; }
}

@media (min-width: 1400px){
    .sidebar{ padding-left: 150px; }
}

@media (min-width: 1800px){
    .sidebar{ padding-left: 250px; }
}