{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-absolute navbar-transparent">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-bottom: 0 !important; padding-top: 0 !important;" href="{{ url('home_page') }}"><img class="paridad-logo" src="{{ asset('assets/img/logo.png') }}"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Síguenos en Twitter" data-placement="bottom" href="https://twitter.com/IEPCChiapas" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Síguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/IEPC.CHIAPAS" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none">Facebook</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="page-header page-header-small" data-parallax="false" style="background-image: url('/assets/img/paridad-2.jpg');">
            <div class="filter"></div>
            <div class="motto text-center">
                <br/><br/><br/>
                <h1 class="paridad-title">Integración de gabinetes partitarios</h1>
                <h3 class="paridad-subtitle">Por un futuro con igualdad sustantiva en Chiapas</h3>
                <br/>
                <a href="#candidatos" class="btn btn-outline-neutral btn-round">Ver candidatos</a>
            </div>
        </div>
        <div class="main">
            <div class="section section-dark text-center paridad-section-black">
                <div class="container">
                    <h2 class="title paridad-section-black-title">PROCESO ELECTORAL</h2>
                    <h3 class="paridad-section-black-subtitle">Local Ordinario 2017-2018</h3>
                </div>
            </div>
            <div class="section no-padding">
                <div class="container-fluid">
                    <!--what is row -->
                    <div class="row">
                        <nav class="col-lg-3 col-md-3 sidebar">
                            <div class="sidebar-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link paridad-link" href="#">Inicio</a></li>
                                    <li class="nav-item"><a class="nav-link paridad-link" href="#checkbox-row">Justificación</a></li>
                                    <li class="nav-item"><a class="nav-link paridad-link" href="#radio-row">Objetivos</a></li>
                                    <li class="nav-item"><a class="nav-link paridad-link" href="#dropdown-row">Contacto</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="col-lg-8 col-md-9 gabinete-col-epadding">
                            <h2 class="text-center">Short Description and Usage</h2>

                            <legend></legend>
                            <p class="space-top">
                                Paper kit is a beautiful resource built for Bootstrap. We have redesigned all its components with a pale color scheme and paper-like transitions. We are proud of this new Bootstrap skin and the possibilities for customisation.
                            </p>
                            <p>
                                Using it is very simple and it will enable you to refresh you classic looking application. To get the desired effect you will also need to integrate JS plugins that take a little bit more effort. It the end the result will be worth it.
                            </p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="section no-padding" id="candidatos">

            </div>

            <footer class="footer footer-black">
                <div class="container">
                    <div class="row">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href=""><i class="fa fa-map-marker"></i> Contacto</a></li>
                            </ul>
                        </nav>
                        <div class="credits ml-auto">
					<span class="copyright">
						© <script>document.write(new Date().getFullYear())</script> Instituto de Elecciones y Participación Ciudadana
					</span>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

{% endblock %}