<template>
  <div class="section no-padding" id="candidatos">
      <div class="container-fluid">
          <!--what is row -->
          <div class="row">
              <nav class="col-lg-3 col-md-3 sidebar">
                  <div class="sidebar-sticky">
                    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Candidat@s</span>
                    </h5>
                      <listado-lateral :listado="elem" @changeCandi="changeCandi" v-for="elem in listacandidatos"></listado-lateral>
                  </div>
              </nav>
              <div class="col-lg-8 col-md-9 gabinete-col-epadding">
                  <h4 class="text-center">{{ msg }}</h4>

                  <legend></legend>
                  <div class="row candidatos-panel" v-if="listing">
                    <candidato-card :candidato="candidato" @verfichacandidato="verficha" v-for="candidato in candidatos" :key="candidato.id"></candidato-card>
                  </div>
                <div v-else class="row candidatos-panel">
                  <candidato-ficha  @goback="regrasaralistado" :candidato="candidato"> </candidato-ficha>
                </div>

              </div>
          </div>

      </div>
  </div>
</template>

<script>
import listadoLateral from './listadoLateral.vue'
import candidatocard from './candidatocard.vue'
import candidatoficha from './ficha.vue'

export default {
  name: 'candidatos',
  components: {
    'listado-lateral': listadoLateral,
    'candidato-card': candidatocard,
    'candidato-ficha': candidatoficha
  },
  data () {
    return {
      msg: 'Conoce a las candidatas y candidatos del estado de Chiapas y sus propuestas con perspectiva de género',
      listing: true,
      listacandidatos: [],
      candidatos: [],
      candidato: {},
      candidatura: {}
    }
  },
  methods: {
    changeCandi(elem) {
      this.candidatos = elem.candidatos;
      this.candidatura = elem;
      this.listing = true;
    },
    verficha(ficha){
      if("nombre" in this.candidatura){
        ficha.candidatura = "Candiato(a) a la presidencia municipal de "+this.candidatura.nombre;
      }else {
        ficha.candidatura = "Candiato(a) a la Gobernatura del Estado";
      }
      this.candidato = ficha;
      this.listing = false;
    },
    regrasaralistado(){
      this.listing = true;
    }
  },
  created() {
    //do something after creating vue instance
    $.getJSON('/api/public/candidatos').done( data => { this.listacandidatos = data; this.candidatos = data[0].candidatos;} );

  }
}
</script>

<style scoped="true">
  ul{
    padding-left: 15px;
  }
  h5{
    font-weight: bold;
  }
  .candidatos-panel{
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>
