<template>
  <div  class="col-12 col-sm-6 col-md-6 col-xl-4 candidato-card"  >
    <a href="#" @click.prevent="verfichacand" class="row" :class="{'nocomprometido': !candidato.compromiso}">
      <div class="col-5 col-sm-5 candidato-image">
                  <img class="rounded-circle" :src="`/images/${candidato.foto}`" alt="Foto" width="100%">
      </div>
      <div class="col-7 col-sm-7">
                  <h4>{{candidato.nombre}}</h4>
                  <span class="label label-default main-tag" v-if="candidato.partido.independiente">Independiente</span>
                  <br />
                  <span class="label label-primary main-tag" style="display: inline-block; margin-bottom: 14px;" v-if="candidato.compromiso">Si</span>
                  <span class="label label-default main-tag" style="display: inline-block; margin-bottom: 14px;" v-else>No</span>
                  <br />

                  <p><img :src="`/images/${candidato.partido.logo}`" :title="candidato.partido.nombre" alt="logo" height="30px;"></p>

      </div>
    </a>
  </div>
</template>

<script>
export default{
  name: 'candidatocard',
  props: ['candidato'],

  methods: {
    verfichacand() {
      this.$emit('verfichacandidato', this.candidato);
    }
  }
}
</script>

<style scoped="true">
  div.candidato-image{
    align-items: center;
    display: -webkit-flex;
  }
  .nocomprometido{
    opacity: 0.7;
  }
  .candidato-card{
    transition: all .15s ease-in-out;
  }
  .candidato-card{
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  }
  .candidato-card:hover{
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
     opacity: 1 !important;
     border: none;
  }
  .candidato-card:hover .nocomprometido{
    opacity: 1 !important;
  }
  h4{ color: #666; margin-top: 0; font-size: 14px; font-weight: normal;}
</style>
