<template>
  <div class="section profile-content">
			<div class="container">
        <a @click.prevent="goback" href="#" class="btn btn-outline-primary btn-round">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar
        </a>
				<div class="owner">
					<div class="avatar" style="margin-top: 0;">
						<img :src="`/images/${candidato.foto}`" alt="perfil" class="img-circle img-no-padding img-responsive">
					</div>
					<div class="name">
						<h4 class="title">{{ candidato.nombre }}</h4>
						<h6 class="description">{{ candidato.candidatura }}</h6>
            <img :src="`/images/${candidato.partido.logo}`" :title="candidato.partido.nombre" alt="logo" height="30px;">
					</div>
				</div>
				<div v-if="candidato.propuestas" class="row">
					<div class="col-md-9 ml-auto mr-auto text-center">
            <p>Principales propuestas</p>
            <ul>
              <li v-for="propuesta in candidato.propuestas">
                {{ propuesta.propuesta }}
              </li>
            </ul>
					</div>
				</div>
        <div class="row">
          <div class="col-12 text-center">
            <p>Compromiso púbblico por la igualdad sustantiva en la integración de gabinete.</p>
            <a v-if="candidato.compromiso" :href="`/documents/${candidato.carta}`" target="_blank" class="btn btn-outline-primary btn-round">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Ver
            </a>
            <button v-else disabled class="btn btn-round disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> No comprometido</button>
          </div>
        </div>
			</div>
		</div>
</template>

<script>
export default{
  name: 'candidatoficha',
  props: ['candidato'],
  methods: {
    goback() {
      this.$emit('goback');
    }
  }
}
</script>

<style scoped="true">
button{
  cursor: not-allowed;
}
.profile-content{
  margin-left: auto;
  margin-right: auto;
}
a{
  color: #e70c75;
  border-color: #e70c75;

}
</style>
