<template>
  <div v-if="listado.pormun">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>{{listado.tipo}}</span>
    </h6>
    <ul class="nav flex-column">
        <li :key="value.cve" v-for="(value, key, index) in listado.municipios" class="nav-item" @click="requestChange(value)">
          <a class="nav-link paridad-link" :class="{'paridad-link-active': $parent.candidatos == value.candidatos}" @click.prevent="" href="#">{{value.nombre}}</a>
        </li>
    </ul>

  </div>
  <div v-else-if="true">
    <ul class="nav flex-column">

        <li class="nav-item">
          <a class="nav-link paridad-link" :class="{'paridad-link-active': $parent.candidatos == listado.candidatos}" @click.prevent="requestChange(listado)" href="#">{{listado.tipo}}</a>
        </li>
    </ul>
  </div>
</template>

<script>
   export default {
     name: 'listadoLateral',
     props: ['listado'],
     data (){
       return {
         candidatos: [],
         seleccionado: {}
       }
     },
     methods: {
       requestChange(item) {
         this.selected = item;
         this.candidatos = item.candidatos;
         this.$emit('changeCandi', item);
       }
     }
   }
</script>
